.resource__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);

}
.resource__content:hover{
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

.langText {
    margin-bottom: 1rem;
    text-align: center;
}

 /* =======MEDIA QUERIES sm======*/
 
 @media screen and (max-width: 600px) {
    .resource__content {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

 }